.admin-page {
    margin-top: 4vh;
    display: flex;
    height: 84vh;
    gap: 25px;
}

.admin-page > * {
    height: 100%;
}

.admin-content {
    justify-content: normal;
}

.admin-header-welcome {
    font-weight: bold;
    font-size: 24px;
    font-style: italic;
}

.admin-header {
    grid-template-columns: 10% 78% 8%;
    align-items: center;
    justify-items: center;
    column-gap: 2%;
}

.entity-navigator-buttons-wrapper
{
    display: grid;
    grid-auto-rows: min-content;
    row-gap: 2%;
    padding: 0 6px;
}

.entity-button
{
    min-width: 10rem;
}

.entity-navigator
{
    display: grid;
    flex-direction: column;
    border-top-right-radius: 1rem;
    grid-template-rows: min-content;
    row-gap: 2%;
    box-shadow: 0 0 0.5vmin 0.5vmin rgba(0,0,0,0.25);
}

.entity-navigator-title {
    align-self: center;
    justify-self: center;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    padding: 15px 0;
    width: 100%;
    text-align: center;
    box-shadow: 0 0.5vmin 0.5vmin 0 rgba(0,0,0,0.25);
    border-top-right-radius: 1rem;
}

.start-text {
    align-self: center;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.entity-explorer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 0 0.5vmin 0.5vmin rgba(0,0,0,0.25);
    width: 100%;
    border-top-left-radius: 1rem;
    height: 100%;
}

.entity-explorer-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0.5vmin 0.5vmin 0 rgba(0,0,0,0.25);
    padding: 5px 10px;
    border-top-left-radius: 1rem;
}

.entity-explorer-table-title {
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}

.entity-explorer .search-input {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.table {
    height: 100%;
    row-gap: 5px;
    align-items: center;
    justify-items: legacy;
    overflow-y: scroll;
}

.table-header, .table-row {
    display: grid;
    column-gap: 1%;
    align-items: center;
}

.table-cell {
    text-align: center;
    overflow-wrap: anywhere;
    padding: 5px 0;
}

.table-header {
    margin-top: 5px;
    font-weight: bold;
    background-color: #F7F7F7;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    box-shadow:
            0 0.1vmin 0.1vmin 0 rgba(0, 0, 0, .25),
            0 -0.5vmin 0.5vmin 0 rgba(0, 0, 0, .25)
    ;
}

.table-row {
    box-shadow: 0 0.5vmin 0.5vmin 0 rgba(0, 0, 0, .20);
}

.table-cell-controls img{
    height: 25px;
}

.table-cell-controls {
    padding: 3px 0;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
}

.table-cell-controls button {
    display: flex;
    align-items: center;
}

.entity-form-submit {
    align-self: flex-start;
    margin-left: 10px;
}

.entity-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.entity-form-fields-wrapper {
    padding: 10px 0 10px 30px;
    box-shadow: 0 0 1vmin 0 rgba(0, 0, 0, .25);
    display: grid;
    grid-template-columns: max-content min-content;
    column-gap: 10px;
    row-gap: 6px;
    align-items: center;
}

.entity-form-field-title {
    font-size: 18px;
}

.file-input-label {
    display: flex;
    align-items: center;
    gap: 5px;
}

.file-input-label-image {
    width: 40px;
    background-color: #ffd25e;
    border-radius: 1rem;
}

.file-input-label-image:hover {
    cursor: pointer;
    background-color: #f1a54d;
}

.file-input-label-text:hover {
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, .8);
}

.file-input-label-text {
    padding: 3px;
    border: 1px solid rgba(0, 0, 0, .25);
}

.entity-form-field-file {
    display: none;
}
