.authentication {
    display: grid;
    grid-template-areas:
            "title title title"
            "logo username-title username-input"
            "logo password-title password-input"
            "logo role-title role-select"
            "submit submit submit"
    ;
    align-items: center;
    column-gap: 4px;
}

.authentication-title {
    grid-area: title;
    justify-self: center;
    font-size: 20px;
    font-weight: bold;
}

.authentication-logo-wrapper {
    grid-area: logo;
}

.authentication-username-title {
    grid-area: username-title;
    justify-self: flex-end;
    font-size: 18px;
}

.authentication-username {
    grid-area: username-input;
    padding: 4px 0;
}

.authentication-password-title {
    grid-area: password-title;
    justify-self: flex-end;
    font-size: 18px;
}

.authentication-password {
    grid-area: password-input;
    padding: 4px 0;
}

.authentication-role-title {
    grid-area: role-title;
    justify-self: flex-end;
    font-size: 18px;
}

.authentication-role-wrapper {
    grid-area: role-select;
    padding: 5px !important;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.authentication-submit {
    grid-area: submit;
    justify-self: flex-end;
}

.role-item label{
    padding-left: 2px;
}

