.chosen-pizzeria {
    max-width: 80%;

    padding: 10px 15px;
    font-size: 20px;

    border-radius: 1rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.chosen-pizzeria-order-count, .chosen-pizzeria-address {
    margin-left: 6px;
}

.chosen-pizzeria-address-box, .chosen-pizzeria-order-box {
    display: flex;
    align-items: flex-end;
    margin-right: 20px;

}
.chosen-pizzeria-title {
    font-weight: bold;
}

.chosen-pizzeria-address {
    color: #FD5C5C;
}

.chosen-pizzeria-order-count {
    color: #D09600;
}