.question {
    display: flex;
    flex-direction: column;

    width: 100%;
    margin: 20px 0;
}

.question-title {
    font-size: 3.2vmin;
    font-weight: bold;
}

.question-answer-container {
    border-radius: 1rem;
    margin-top: 10px;

    padding: 10px 10px 10px 40px;
}

.answer {
    font-size: 18px;
    margin-top: 3px;
    color: #1D1A1A;
}

