.faq-box {
    width: 80vw;

    margin: 5vh auto 5vh auto;

    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;

    border-radius: 1rem;

    padding: 15px 40px;
}
