.operator-header {
    display: grid;
    grid-template-columns: 10% 13% 65% 8%;
    align-items: center;
    column-gap: 1.3%;
    padding: 0 10px;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    box-shadow: 0 0.5vmin 0.5vmin 0.5vmin rgba(0, 0, 0, 0.25);
}

.operator-header-logout {
    justify-self: center;
}

.operator-header-pizzeria-info-wrapper {
    justify-self: flex-end;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
}

.operator-header-sections-wrapper {
    display: flex;
    justify-content: space-between;
}

.operator-header-logo-wrapper {
    width: 100%;
}

.operator-header-logo-wrapper img {
    width: 100%;
}

.operator-header-pizzeria-info-item {
    display: flex;
    gap: 5px;
}

.operator-header-pizzeria-address {
    color: #FD5C5C;
}

.operator-header-pizzeria-workload {
    color: #D09600;
}
