.order-help-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    text-align: center;

    font-size: 20px;
    font-weight: bold;

    border-radius: 1rem;
    width: 22vw;
    height: 100px;
    padding: 10px;
}

.order-help-p {
    height: 5vh;
}

/*@media only screen and (max-width: 1100px) {*/
/*    .order-help-box {*/
/*        width: 22vw;*/
/*    }*/
/*}*/