.order-help-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    text-align: center;

    font-size: 2.6vmin;
    font-weight: bold;

    border-radius: 1rem;
    width: 20vw;
    height: 12vh;
}

.order-help-p {
    height: 5vh;
}