.order-help-modal {
    background-color: white;
    display: grid;
    grid-template-areas:
            "heading heading"
            "number-title number-input"
            "submit-button submit-button"
    ;

    row-gap: 10px;
    column-gap: 4px;
    justify-items: center;
    align-items: center;
}

.order-help-modal-title {
    font-size: 20px;
    font-weight: bold;
    grid-area: heading;
}
.order-help-modal-phone-number-title {
    grid-area: number-title;
    font-size: 16px;
}

.order-help-modal-phone-number {
    grid-area: number-input;
    height: 30px;
}

.order-help-modal-submit {
    grid-area: submit-button;
    justify-self: flex-end;
}