.pizza-card {
    padding: 15px;
    border-radius: 1rem;

    display: grid;
    grid-template-rows: min-content min-content;
    row-gap: 5px;

    transition: all 0.2s;
}

.pizza-name {
    text-align: center;
}

.pizza-card:hover {
    cursor: pointer;
    border-radius: 0;

    box-shadow: 0 0 0.7vmin 0.7vmin rgba(0,0,0,0.25)

}

.pizza-footer-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    align-self: end;

    width: 100%;
}

.pizza-choose-button {
    margin-left: 5px;
}

.pizza-name, .pizza-price {
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
}

.pizza-image-wrapper, .pizza-image-wrapper img {
    width: 100%;
}

.pizza-ingredients {
    color: #7E7E7E;
    font-style: italic;
    font-size: 16px;
}
