.search {
    display: flex;
    align-items: center;
    height: 40px;
}

.search-button {
    height: 40px;
    width: 40px;
    background-color: #c4c4c4;
    transition: 0.1s;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
}

.search-img {
    height: 40px;
    width: 40px;
}

.search-input {
    height: 40px;
    width: 30vw;
    background-color: #ececec;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    font-size: 16px;
    text-indent: 1vw;
}

.search-button:hover {
    cursor: pointer;
    background-color: #9aadff;
}
