.search {
    display: flex;
    align-items: center;
    height: 40px;
}

.search-button {
    height: 40px;
    width: 40px;
    background-color: #c4c4c4;
    transition: 0.1s;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
}

.search-img {
    height: 40px;
    width: 40px;
}

.search-input {
    height: 40px;
    width: 30vw;
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.search-button:hover {
    background-color: #f1a54d;
}
