/* .header-image {
  text-align: left;
} */
.header-image {
  margin: 7px;
  margin-left: 15px;
}
html {
  width: 100%;
  height: 100%;
}
body {
  font-family: "Roboto", Arial, serif;
}
.header {
  /* border: 1px solid red; */
  border-radius: 30px;
  border-bottom: 5px solid rgb(158, 154, 154);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
html {
  position: relative;
  min-height: 100%;
}
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}
.footer {
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #7d7d7d;
}
.footer-text {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.footer div {
  width: 33%;
  text-align: center;
  align-content: center;
  height: 170px;
}
.footer div div {
  width: 100%;
}
.footer div img {
  height: 155px;
  border-radius: 25px;
}

.footer h2,
a {
  color: white;
  text-decoration: none;
}
.footer a h2:hover {
  color: #ffd25e;
  text-decoration: none;
  transition: color 0.5s;
}
.search-box {
  align-items: center;
  text-align: center;
  border-radius: 20px;
  border: 2px solid rgb(158, 154, 154);
  width: 35%;
  margin: 7px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.welcome-img {
  width: 33%;
  margin: 10px;
  margin-left: -20px;
}
.welcome-img img {
  margin-top: 8px;
  border-radius: 15px;
  height: 260px;
  width: 350px;
}
.welcome-content {
  width: 65%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.welcome-content h3 {
  font-size: 24pt;
}
.welcome-content p {
  font-size: 18pt;
}
.welcome-post {
  margin: 15px;
  border-radius: 30px;
  /* border: 5px solid rgb(223, 9, 9); */
  border: 2px solid rgb(158, 154, 154);
  width: 80%;
  margin: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.search-button {
  height: 47px;
  width: 47px;
  background-color: white;
  margin-top: 7px;
  margin-left: -25px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  border: 2px solid rgb(129, 126, 126);
  /* padding: 15px; */
  /* display: block; */
}
.search-img {
  height: 30px;
  width: 30px;

  /* display: block; */
}
.search-input {
  margin: 7px;
  margin-left: 60px;
  padding: 7px;
  width: 70%;
  border-radius: 20px;
  background-color: #d7d7db;
  outline: none;
  font-size: 16pt;

  border-color: #7c7c7c;
  /* display: block; */
}
.button-filter {
  width: auto;
  transition: color, background-color 0.5s;
  background-color: #ffd25e;
  color: black;
  padding: 8px;
  font-size: 13pt;

  border-radius: 15px;
  outline: none;
  border: 1px solid #c9a54c;
}
.search {
  /* display: inline-block; */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.button-filter:hover {
  /* color: #f2f5a9; */
  background-color: #f1a54d;
}
.search-p {
  font-size: 15pt;

  text-align: center;
}
.cart {
  border: 2px solid rgb(158, 154, 154);
  width: 15%;
  border-radius: 20px;
  margin: 7px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.cart-image {
  width: 70%;
}
.cart-image img {
  height: 70px;
  width: 70px;
  margin-left: 45px;
  margin-top: 20px;
}
.cart p {
  font-size: 55pt;
  color: red;
  margin: 0;
  margin-top: 5px;
  margin-left: -40px;
}

.pizzeria-choice-box {
  background: #ffffff;
  border-radius: 10px;
  width: auto;
  height: 40%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.pizzeria-address {
  border-radius: 10px;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.pizzeria-choice-box h2,
h1 {
  margin: 0;
}
